.app {
  --header-height: 4.375rem;
  --anime-card-width: 25rem;
  --search-width: calc(var(--anime-card-width) + 2rem);

  height: 100dvh;
}

.header {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: var(--header-height);
  padding-left: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 100%;
  display: flex;
}

.mainContent {
  flex-grow: 1;
}

@media (width <= 40rem) {
  .app {
    --header-height: 8rem;
  }
  .header {
    padding: 1rem 0;
    flex-direction: column;
  }
}
